/* Styles necessary for quicklinks */
/* CSS variables (same as in css/_uw-variables.scss */

#page {
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: 0;
	background-color: white;
	overflow-x: hidden;
    
	#quicklinks {
		position: absolute;
		background-color: #4d4d4d;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 300px;
		padding: 10px 0 0 90px;
		-webkit-transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
		background: #4d4d4d;
		background: rgba(46,46,46,1);
		background: -webkit-gradient(linear, left top, right top, from(rgba(46,46,46,1)), color-stop(4%, rgba(77,77,77,1)), to(rgba(77,77,77,1)));
		background: linear-gradient(to right, rgba(46,46,46,1) 0%, rgba(77,77,77,1) 4%, rgba(77,77,77,1) 100%);
		-webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
		ul {
			padding: 0;
			li {
				display: block;
				width: 100%;
				padding: 14px 0 0 0;
				a {
					font-family: var(--headings), sans-serif;
					font-size: 19px;
					margin-left: 15px;
					text-decoration: none;
					&:hover {
						color: var(--brightgold);
						text-decoration: underline;
					}
					&:focus {
						color: var(--brightgold);
						text-decoration: underline;
					}
				}
				span {
					display: block;
					float: left;
					width: 30px;
					height: 30px;
					background: url(../assets/svg/uw-sprite.svg) no-repeat 0 0;
				}
				span.icon-maps {
					background-position: 6px -303px;
				}
				span.icon-directories {
					background-position: -84px -303px;
				}
				span.icon-calendar {
					background-position: -39px -303px;
				}
				span.icon-libraries {
					background-position: -129px -303px;
				}
				span.icon-medicine {
					background-position: -264px -303px;
				}
				span.icon-myuw {
					background-position: -174px -303px;
				}
				span.icon-uwtoday {
					background-position: -219px -303px;
				}
			}
		}
		ul#big-links {
			list-style: none;
			margin-top: 10px;
		}
		h3 {
			font-size: 19px;
			color: white;
			margin: 40px 0 30px 0;
			position: relative;
			&:after {
				content: "";
				display: block;
				width: 30px;
				height: 1px;
				background-color: white;
				position: absolute;
				bottom: -19px;
			}
		}
		ul#little-links {
			margin-left: 10px;
			li {
				list-style: none;
				position: relative;
				padding: 0;
				span.false {
					display: none;
				}
				&:before {
					content: "";
					width: 6px;
					height: 6px;
					display: block;
					background-color: var(--brightgold);
					position: absolute;
					left: -15px;
					top: 13px;
					border-radius: 100%;
				}
				&:nth-child(1) {
					&:before {
						background-color: #8a00ff;
					}
				}
				&:nth-child(2) {
					&:before {
						background-color: #8a00ff;
					}
				}
				&:nth-child(3) {
					&:before {
						background-color: #e49243;
					}
				}
				&:nth-child(4) {
					&:before {
						background-color: #9bc343;
					}
				}
				&:nth-child(5) {
					&:before {
						background-color: #9bc343;
					}
				}
				&:nth-child(6) {
					&:before {
						background: url(../assets/svg/uw-sprite.svg) no-repeat 0px -159px;
						height: 20px;
						width: 20px;
						top: 5px;
						left: -28px;
						border-radius: 0;
						background-size: 700px;
					}
					margin-top: 30px;
					margin-left: 15px;
					padding-left: 3px;
					&:after {
						content: "";
						display: block;
						width: 30px;
						height: 1px;
						background-color: white;
						position: absolute;
						top: -15px;
						left: -26px;
					}
				}
				&:nth-child(7) {
					&:before {
						background: url(../assets/svg/uw-sprite.svg) no-repeat -37px -157px;
						height: 20px;
						width: 20px;
						top: 5px;
						left: -28px;
						border-radius: 0;
						background-size: 690px;
					}
					margin-left: 15px;
					padding-left: 3px;
				}
				a {
					font-family: var(--headings);
					font-size: 19px;
				}
				&:hover {
					color: var(--brightgold);
					text-decoration: underline;
				}
				&:focus {
					color: var(--brightgold);
					text-decoration: underline;
				}
			}
		}
		a {
			color: white;
		}
		a.open {
			-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
			        transform: matrix(1, 0, 0, 1, 0, 0);
			width: 270px;
			max-width: 270px;
			padding-left: 45px;
		}
	}
	#page-inner {
		position: relative;
		background-color: white;
		-webkit-box-shadow: 10px 0px 11px -6px #1f1f1f;
		        box-shadow: 10px 0px 11px -6px #1f1f1f;
		-webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
}
#page.open {
	#page-inner {
		-webkit-transform: matrix(1, 0, 0, 1, -270, 0);
		        transform: matrix(1, 0, 0, 1, -270, 0);
	}
}
@media (max-width: 767px) {
	#uw-container {
		#quicklinks {
			padding: 0 0 0 70px;
		}
	}
}
